@font-face {
    font-family: timon;
    src: url(../font/TmonMonsori.ttf);
  }
body {
    margin: 0 0;
}
p {
    margin: 0 0;
    padding: 10px;
}
p:nth-child(2n+1) {
    background-color: #d6d6d6;
    color: white;
}
#keyboard {
    position: fixed;
    bottom: 0;
    padding: 10px 0px;
    width: 100vw;
    background-color: rgb(177, 177, 177);
}
#keyboard input {
    margin-left: 10px;
    border-radius: 40px;
    border:none;
    width: 85vw;
    height: 50px;  
    padding: 0;
    padding-left: 30px;
    font-size: 2vw;
    
}
#keyboard button {
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    width: 10vw;
    height: 50px;
    margin: 0;
    font-size: 2vw;
    background-color: #6495ff;
    margin-left: 1vw;
}
#keyboard button:hover {
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}
#user {
    font-family: 'timon';
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    width: 150px;
    background-color: #F7F4E6;
    border-radius: 17px;
}
#user li {
    list-style: none;
}
i {
    color: white;
}
.turn_on {
    color: green;
}
.turn_off {
    color: #50474F;
}